@model IEnumerable<IdeaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Ideeën</h1>

<p>
    <a asp-action="Create">Aanmaken</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
                <br />
                @Html.ActionLink("Filter hierop", "Index", new { type = item.Type })
            </td>
            <td>
                @Html.ActionLink("Details", "Item", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
